.header {
  background: #2d2d2d;
  color: white;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  margin: 0;
}
.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 8px 14px;
  border-radius: 8px;
  transition: 0.3s ease;
}
.nav-links a:hover {
  color: white;
  background: linear-gradient(45deg, #ec76ca, #6db7f7, #6060e3, #f7ca7b);
  background-size: 600% 600%;
  animation: gradientMove 6s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

@media (max-width: 768px) {

  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: #2d2d2d;
    width: 100%;
    height: calc(100vh - 70px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .nav-links.show {
    transform: translateX(0);
  }

  .nav-links a {
    font-size: 24px;
  }
}
