* {
  box-sizing: border-box;
}

.contact {
  min-height: 100vh;
  background: black;
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.contact_header {
  text-align: center;
  margin-bottom: 30px;
}

.contact_header p {
  color: gray;
}

.contentdata {
  flex: 1;
  display: flex;
  gap: 50px;
  align-items: center;
}

.firstpart {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.firstpart h2{
    display: flex;
    justify-content: center;
}

.contact-card {
  background: cadetblue;
  color: black;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  cursor: pointer;
  text-decoration: none;
}

.contact-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.secondpart {
  flex: 1;
  display: flex;
  justify-content: center;
}

.form-block {
  background: cadetblue;
  color: black;
  width: 100%;
  padding: 25px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-block input {
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  background: rgb(71, 116, 201);
  color: white;
  font-weight: bold;
}

.form-block input::placeholder {
  color: white;
  opacity: 0.9;
}

.form-block button {
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 12px;
  background: rgb(71, 116, 201);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.form-block button:hover {
  transform: scale(1.05);
}



@media (max-width: 768px) {
  .contentdata {
    flex-direction: column;
  }

  .contact {
    padding: 20px;
  }

  .firstpart {
    align-items: center;
    text-align: center;
  }
  .contact-card{
    width: 90vw;

  }
  .form-block{
    width: 90vw;
  }
}
